# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: false
install:  mvn --batch-mode -DskipTests install -pl :oak-segment,:oak-segment-tar -am
script:   mvn --batch-mode clean verify -PintegrationTesting -Dnsfixtures=DOCUMENT_NS -pl ':oak-lucene,!:oak-segment-tar,!:oak-segment' -am
language: java
jdk:
  - oraclejdk7
cache:
  directories:
    - $HOME/.m2
before_cache:
  - rm $HOME/.m2/repository/org/apache/derby/derby/10.5.3.0_1/derby-10.5.3.0_1.jar
addons:
  apt:
    sources:
      - mongodb-upstart
    packages:
      - mongodb-org-server
notifications:
  email: false
  webhooks:
    urls:       http://zitting.name/travis/notify
    on_success: change
    on_failure: change
