<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %-40([%thread] %F:%L) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>target/unit-tests.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %-40([%thread] %F:%L) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <!--
        <appender-ref ref="console"/>
        -->
        <appender-ref ref="file"/>
    </root>

</configuration>
